@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

:root{
    --primary:#7F1D1D;
    --text:#F9FAFB;
    --black:#9CA3AF;
    --width-break: 600px;
}
body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
.navbar{
    background-color: var(--primary);
}
.navbar-header{
    font-family: 'Texturina', serif;
    color: var(--text);
    font-size: 2rem;
    padding: 1rem; 
    text-align: center;  
}
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
textarea{
    box-sizing: border-box;
    border: 1px solid var(--black);
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}
button{
    background-color: var(--primary);
    color: var(--text);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Texturina', serif;
    font-size: large;
}
footer{
    font-family: 'Texturina', serif;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
}
footer p{
    max-width: var(--width-break);
    color: var(--text);
    margin: auto;
    font-family: 'Texturina', serif;
}
#output{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
    padding: 1rem;
    margin: 0;
    font-size: large;
}